<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({app,.tmp}) /<%= cssDir %>/screen.css -->
    <% if (jekPyg) { %>
    <link rel="stylesheet" href="/<%= cssDir %>/syntax.css"><% } %>
    <link rel="stylesheet" href="/<%= cssDir %>/screen.css">
    <!-- endbuild --><% if (h5bpJs) { %>
   
    <!-- build:js(app) /<%= jsDir %>/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/bower_components/modernizr/modernizr.js"></script><% } %>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <% if (styleDocs) { %>
    <div class="header">
      <a href="#0">Nav</a>
      <h1 class="">Style-Docs</h1>
      <a href="#0">Annotations</a>
    </div>

    <nav class="nav-slider is-active">
      <ul class="nav nav__vertical nav-styledocs--structure nav-styledocs--skin">
        <li><a href="#0">Specification</a></li>
        <li><a href="#0">Branding Guidelines</a></li>
        <li><a href="#0">CUTI Report</a></li>
        <li><a href="#0">Content Inventory</a></li>
        <li><a href="#0">Performance Budget</a></li>
        <li><a href="#0">Structured Content Types</a></li>
        <li><a href="#0">Content Reference Wireframe</a></li>
        <li><a href="#0">Style Tile</a></li>
        <li><a href="#0">Grid</a></li>
        <li><a href="#0">Wireframe</a></li>
        <li><a href="#0">Prototype</a></li>
      </ul>
    </nav>

    <section class="annotation-slider is-active">
      this is the annotation slider...write notes here and link them to sections of the document
    </section>
    <% } %>

    {{ content }}

    {% include scripts.html %}<% if (h5bpAnalytics) { %>
    {% include googleanalytics.html %}<% } %>

  </body>
</html>
